
<div class="container">
    <h2>Employee Data Listing Table</h2>       
    <table class="table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Employee Salary</th>
          <th>  Employee Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employeeData.data">
            <td>{{emp.employee_name}}</td>
            <td>{{emp.employee_salary}}</td>
            <td>{{emp.employee_age}}</td>
        </tr>
      </tbody>
    </table>
  </div>
